@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
h2 {
  margin: 20px auto;
  margin-top: 20px;
  width: fit-content;
  background-color: #e8c39e;
  font-size: 35px;
  font-weight: 800;
  color: #ffffff;
  line-height: 34px;
  padding-top: 17px;
  padding-bottom: 20px;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 30px;
}

.subtitulo1 {
  width: 25%;
  text-align: center;
  margin: 0 auto;
  margin-top: 19px;
  margin-bottom: 27px;
  padding-top: 3px;
  letter-spacing: 0;
  font-size: 25px;
  line-height: 20px;
  font-weight: 800;
  color: #afafaf;
}

.imagen-con-botones {
  position: relative;
  display: inline-block;
  text-align: left; /* Centra el contenido horizontalmente */
}

.imagen-con-botones img {
  max-width: 2500px;
  height: 750px;
}

.boton-sobre-imagen {
  position: absolute;
  bottom: 100px; /* Ajusta la posición vertical del botón */
  left: 185px; /* Centra el botón horizontalmente en relación con el contenedor */
  transform: translateX(-50%); /* Centra el botón horizontalmente */
  background-color: #ffffff; /* Color de fondo del botón */
  color: #e8c39e; /* Color del texto del botón */
  border: none;
  font-family: "Poppins", sans-serif;
  padding: 5px 10px;
  cursor: pointer;
  font-weight: 900;
  font-size: 30px;
}

.foto2 { /* Estilos para cada foto */
  position: relative;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  max-width: 420px;
}

.foto2 img { /* Estilos para las imágenes */
  max-width: 400px;
  max-height: auto;
  height: auto;
}

.foto2:hover {
  transform: scale(1.05);
}

.productonombre { /* Estilos para los títulos de las fotos */
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.288);
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 20px;
}

h6 {
  font-weight: 900;
  font-size: 40px;
  color: #ffffff;
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin: 15px;
  background-color: #e8c39e;
  padding: 10px;
  line-height: 30px;
}

.container-from {
  width: 100%;
  max-width: 1100px;
  margin: 110px auto; /* Cambia "margin" para centrar verticalmente y horizontalmente */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 50px;
  margin-top: 15px;
  justify-content: center; /* Centra horizontalmente dentro del contenedor */
  align-items: center; /* Centra verticalmente dentro del contenedor */
}

.container-from h4 {
  text-align: center;
  /* Alinea el texto al centro */
  margin-bottom: 20px;
  font-size: 35px;
}

.container-from p {
  color: #000000;
  font-family: "Poppins", sans-serif;
  text-align: center; /* Alinea el texto al centro */
  font-size: 20px;
  line-height: 1.9;
}

.container-from a {
  text-align: center; /* Alinea el texto al centro */
  font-size: 17px;
  display: inline-block;
  text-decoration: none;
  width: 100%;
  margin-bottom: 15px;
  color: #000000;
  font-size: "Poppins", sans-serif;
  font-weight: 700;
}

.container-from a i {
  text-align: center;
  color: #e8c39e;
  margin-bottom: 10px;
}

.container-from form .campo,
.container-from form textarea {
  width: 100%;
  text-align: center;
  padding: 15px 10px;
  font-size: 15px;
  border: 1px solid #e8c39e;
  margin-bottom: 20px;
  border-radius: 3px;
  outline: 0px;
}

.container-from form textarea {
  text-align: center;
  max-width: 530px;
  min-width: 530px;
  min-height: 140px;
  max-height: 150px;
}

.container-from .btn-enviar {
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: 0px;
  background: #e8c39e;
  color: black;
  font-family: "Poppins", sans-serif;
  border-radius: 3px;
  cursor: pointer;
  transform: all 300ms ease;
}

/* Estilos para la galería */
.galeria {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 70px;
}

/* Estilos para cada foto */
.foto {
  position: relative;
  margin: 10px;
  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease-in-out;
  max-width: 420px;
}

.foto img {
  width: 100%;
  height: auto;
}

.foto:hover {
  transform: scale(1.05);
}

/* Estilos para el título de cada foto */
.titulo {
  font-family: "Poppins", sans-serif;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.288);
  color: white;
  padding: 5px;
  text-align: center;
  font-size: 20px;
}

.sobremi1 {
  display: flex;
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 25px;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  line-height: 30px;
  padding: 3px 10px;
  border: rgba(148, 111, 111, 0.815) 5px double;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sobremi2 {
  margin-top: 30px;
  font-family: "Poppins", sans-serif;
  color: #000000;
  font-size: 25px;
  text-align: center;
  padding-bottom: 15px;
  margin-bottom: 15px;
  line-height: 30px;
  padding: 3px 10px;
  border: rgba(148, 111, 111, 0.815) 5px double;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

.img-fluid {
  max-width: 80%;
  border-radius: 5px;
  padding-right: 5px;
  padding-left: 0px;
}

.preguntasyrespuestas {
  text-align: center;
  font-size: 25px;
  background: #ffffff;
  padding: 30px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.pregunta {
  text-align: center;
  color: #050505;
  width: 60%;
  font-size: 25px;
  position: relative;
  left: 20%;
  margin-bottom: 10px;
  overflow: hidden;
  background: #e8c39e; /*Fondo letras*/
  max-height: 35px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
}

.respuesta {
  display: flex;
  justify-content: center;
  margin-bottom: 25px;
  color: #020202;
  font-family: "Poppins", sans-serif;
  left: 15%;
}

.mapzone {
  max-width: 1000px;
  max-height: auto;
}

.navbar {
  background-color: #e8c39e;
  font-family: "Pacifico", cursive;
}

.navbar-brand img {
  height: 100px;
  width: auto;
}

.nav-item:hover {
  background-color: #d4ae87;
  border-radius: 5px;
}

.nav-link {
  color: #ffffff !important;
}

.collapse {
  font-size: 30px;
  display: flex;
  justify-content: right;
}

footer {
  font-family: "Poppins", sans-serif;
  height: 120px;
  background-color: #e8c39e;
  text-align: center;
  font-size: 35px;
  font-weight: 600;
}

footer p {
  margin-bottom: 20px;
}

.redes {
  font-size: 30px;
  text-decoration: none;
}

.redes i {
  letter-spacing: 20px;
  color: black;
  text-align: none;
  text-decoration: none;
}

.redes a {
  text-decoration: none;
}

.header {
  background-color: #ffffff;
  margin: 400px;
}

/*font-family: 'Pacifico', cursive; */
/*font-family: 'Poppins', sans-serif;*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilos para el cuerpo de la página */
body {
  background-color: rgba(255, 255, 255, 0.8784313725);
  font-family: Arial, sans-serif;
  text-align: center;
}

/*navbar completo*/
main {
  margin-top: 150px;
  height: 2500px;
  width: 100%;
}

@media screen and (max-width: 375px) and (max-height: 667px) {
  * {
    overflow-x: hidden;
  }
  main {
    margin-top: 80px;
    height: 1200px;
    width: 100%;
  }
  .navbar {
    overflow: hidden;
    background-color: #e8c39e;
    font-family: "Pacifico", cursive;
  }
  .navbar-brand img {
    justify-content: right;
    height: 50px;
    width: auto;
  }
  .nav-item:hover {
    background-color: #d4ae87;
    border-radius: 5px;
  }
  .nav-link {
    background-size: center;
    color: #ffffff !important;
  }
  .navbar.expanded {
    height: auto;
    transition: height 0.3s ease-in-out;
  }
  .collapse {
    right: auto;
    font-size: 20px;
    display: flex;
    justify-content: center;
  }
  /*index*/
  h2 {
    margin: 30px auto;
    width: fit-content;
    background-color: #e8c39e;
    font-size: 14px;
    font-weight: 800;
    color: #ffffff;
    line-height: 34px;
    padding-top: 7px;
    padding-bottom: 7px;
    padding-left: 7px;
    padding-right: 7px;
    border-radius: 20px;
  }
  .subtitulo1 {
    background-color: rgba(232, 195, 158, 0.4941176471);
    text-align: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    font-weight: 800;
    color: rgba(78, 74, 74, 0.7803921569);
  }
  .imagen-con-botones {
    position: relative;
    display: inline-block;
    text-align: left;
    /* Centra el contenido horizontalmente */
  }
  .imagen-con-botones img {
    width: 350px;
    height: 220px;
  }
  .boton-sobre-imagen {
    position: absolute;
    bottom: 24px;
    /* Ajusta la posición vertical del botón */
    left: 45px;
    /* Centra el botón horizontalmente en relación con el contenedor */
    transform: translateX(-50%);
    /* Centra el botón horizontalmente */
    background-color: rgba(255, 255, 255, 0);
    /* Color de fondo del botón */
    color: #e8c39e;
    /* Color del texto del botón */
    border: none;
    font-family: "Poppins", sans-serif;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 900;
    font-size: 10px;
  }
  .d-lg-none {
    display: block;
    max-width: 100%;
    margin: 0 auto;
  }
  .d-lg-block {
    display: none;
  }
  .carousel-image {
    height: 250px;
    width: auto;
  }
  .carousel-image2 {
    height: 250px;
    width: 200px;
  }
  .carousel-control-prev,
  .carousel-control-next {
    background-color: rgba(218, 163, 107, 0);
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: #daa26b;
  }
  /*---------------------------------------------------------------------------------------------------------------------*/
  .envios1 img {
    max-width: 300px;
    max-height: 250px;
  }
  h4 {
    margin: 40px auto;
    width: fit-content;
    background-color: #e8c39e;
    font-size: 17px;
    font-weight: 800;
    color: #ffffff;
    line-height: 34px;
    padding-bottom: 3px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 20px;
  }
  .pregunta {
    font-size: 20px;
    margin-top: 55px;
    width: 80%;
    left: 10%;
    max-height: none;
  }
  .respuesta {
    font-size: 20px;
    left: 10%;
  }
  .mapzone {
    max-width: 320px;
    max-height: auto;
  }
  .sobremi2 {
    padding: 3px 10px;
    border: rgb(0, 0, 0) 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    color: #000000;
    background-color: rgba(212, 173, 135, 0.6509803922);
    font-size: 15px;
  }
  .sobremi1 {
    padding: 3px 10px;
    border: rgb(0, 0, 0) 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
    text-align: center;
    margin-top: 5px;
    font-family: "Poppins", sans-serif;
    background-color: rgba(212, 173, 135, 0.5960784314);
    color: #000000;
    font-size: 15px;
  }
  .img-fluid {
    margin: 0;
    max-width: 200px;
    max-height: 200px;
  }
  .container-from {
    grid-template-columns: 1fr;
    /* Cambia a una sola columna */
    grid-gap: 20px;
    /* Cambia a una sola columna */
  }
  .container-from h4,
  .container-from p,
  .container-from a,
  .container-from form .campo,
  .container-from form textarea,
  .container-from .btn-enviar {
    text-align: center;
    /* Alinea al centro */
    width: 100%;
    /* Ocupa el ancho completo */
  }
  footer {
    font-family: "Poppins", sans-serif;
    height: 80px; /* Ajusta la altura según tus necesidades */
    background-color: #e8c39e;
    text-align: center;
    font-size: 20px;
  }
  .redes {
    text-align: center;
    margin: 10px;
    height: 20px;
    font-size: 20px;
    text-decoration: none;
  }
  .redes i {
    letter-spacing: 15px;
    color: black;
    text-align: none;
    text-decoration: none;
  }
  .redes a {
    text-decoration: none;
  }
}
@media (min-width: 391px) or (min-height: 845px) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
}

/*# sourceMappingURL=estilo.css.map */
