footer {
    font-family: 'Poppins', sans-serif;
    height: 120px;
    background-color: #e8c39e;
    text-align: center;
    font-size: 30px;
}
footer p {
    margin-bottom: 20px;
}
.redes {
    font-size: 30px;
    text-decoration: none;
}
.redes i {
    letter-spacing: 15px;
    color: black;
    text-align: none;
    text-decoration: none;
}
.redes a {
    text-decoration: none;
}