@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
/*font-family: 'Pacifico', cursive; */
/*font-family: 'Poppins', sans-serif;*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilos para el cuerpo de la página */
body {
    background-color: #ffffffe0;
    font-family: Arial, sans-serif;
    text-align: center;
}
/*navbar completo*/

main {
    margin-top: 150px;
    height: 2500px;
    width: 100%;
}