.navbar {
    background-color: #e8c39e;
    font-family: 'Pacifico', cursive;
}
.navbar-brand img {
    height: 100px;
    width: auto;
}
.nav-item:hover {
    background-color: #d4ae87;
    border-radius: 5px;
}
.nav-link {
    color: #ffffff !important;
}
.collapse {
    font-size: 25px;
    display: flex;
    justify-content: right;
}