@media screen and (max-width: 375px) and (max-height: 667px) {
    * {
        overflow-x: hidden;
    }
    main {
        margin-top: 80px;
        height: 1200px;
        width: 100%;
    }
    .navbar {
        overflow: hidden;
        background-color: #e8c39e;
        font-family: 'Pacifico', cursive;
    }
    .navbar-brand img {
        justify-content: right;
        height: 50px;
        width: auto;
    }
    .nav-item:hover {
        background-color: #d4ae87;
        border-radius: 5px;
    }
    .nav-link {
        background-size: center;
        color: #ffffff !important;
    }
    .navbar.expanded {
        height: auto;
        transition: height 0.3s ease-in-out;
    }
    .collapse {
        right: auto;
        font-size: 20px;
        display: flex;
        justify-content: center;
    }
    /*index*/
    h2 {
        margin: 30px auto;
        width: fit-content;
        background-color: #e8c39e;
        font-size: 14px;
        font-weight: 800;
        color: #ffffff;
        line-height: 34px;
        padding-top: 7px;
        padding-bottom: 7px;
        padding-left: 7px;
        padding-right: 7px;
        border-radius: 20px;
    }
    .subtitulo1 {
        background-color: #e8c39e7e;
        text-align: center;
        font-family: 'Poppins', sans-serif;
        font-size: 15px;
        font-weight: 800;
        color: #4e4a4ac7;
    }
    .imagen-con-botones {
        position: relative;
        display: inline-block;
        text-align: left;
        /* Centra el contenido horizontalmente */
    }
    .imagen-con-botones img {
        width: 350px;
        height: 220px;
    }
    .boton-sobre-imagen {
        position: absolute;
        bottom: 24px;
        /* Ajusta la posición vertical del botón */
        left: 45px;
        /* Centra el botón horizontalmente en relación con el contenedor */
        transform: translateX(-50%);
        /* Centra el botón horizontalmente */
        background-color: #ffffff00;
        /* Color de fondo del botón */
        color: #e8c39eff;
        /* Color del texto del botón */
        border: none;
        font-family: 'Poppins', sans-serif;
        padding: 5px 10px;
        cursor: pointer;
        font-weight: 900;
        font-size: 10px;
    }
    .d-lg-none {
        display: block;
        max-width: 100%;
        margin: 0 auto;
    }
    .d-lg-block {
        display: none;
    }
    .carousel-image {
        height: 250px;
        width: auto;
    }
    .carousel-image2 {
        height: 250px;
        width: 200px;
    }
    .carousel-control-prev,
    .carousel-control-next {
        background-color: #daa36b00;

    }
    .carousel-control-prev-icon,
    .carousel-control-next-icon {
        background-color: #daa26b
    }
/*---------------------------------------------------------------------------------------------------------------------*/
    /*Tortas*/
    .titulo {
        font-family: 'Poppins', sans-serif;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.288);
        color: white;
        padding: 5px;
        text-align: center;
        font-size: 15px;
    }
/*---------------------------------------------------------------------------------------------------------------------*/
        /*Envios*/
        .container-from-envios{
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column; 
            text-align: center;
            font-size: 20px;
            background: #ffffff;
            padding: 30px;
            padding-top: 20px;
            padding-bottom: 20px;
            margin-top: 50px;
        }    
    
    .pregunta {
        font-size: 20px;
        margin-top: 55px;
        width: 80%;
        left: 10%;
        max-height: none;
    }
    .respuesta {
        font-size: 20px;
        left: 10%;
    }
    .mapzone {
        max-width: 320px;
        max-height: auto;
    }
/*---------------------------------------------------------------------------------------------------------------------*/
    /*Nosotros*/
    .sobremi2 {
        padding: 6px 20px;
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
        color: #000000;
        text-align: center;
        background-color: #e8c39ed3;
        font-size: 15px;
    }
    .sobremi1,
    .sobremi3 {
        padding: 6px 20px;
        text-align: center;
        margin-top: 10px;
        font-family: 'Poppins', sans-serif;
        background-color: #e8c39ed3;
        color: #000000;
        font-size: 15px;
    }
    .banner3{
        margin-top: 0px;
        margin-right: 10px;
        justify-content: center;
        height: 0px;
        width: 0px;
    }
    .img-fluid {
        padding-right: 10px;
        padding-left: 10px;
        margin-top: 5px;
        width: 550px;
        height: 500px;
    }
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    /*Contacto*/
    h6 {
        font-weight: 900;
        color: #fffbfb;
        text-align: center;
        font-family: "Poppins", sans-serif;
        background-color: #e8c39e;
        padding: 10px;
        line-height: 30px;
        border-radius: 20px;
        margin: 10px; 
    }
    .container-from {
        width: 100%;
        max-width: 375px; 
        margin: 0 auto; 
        padding: 10px; 
        display: flex;
        flex-direction: column; 
        justify-content: center; 
        align-items: center; 
        margin-top: 20px; 
    }
    .container-from h6 {
        margin-bottom: 10px; 
        font-size: 40px; 
    }
    .container-from p {
        background-color: #e8c39e;
        color: #ffffff;
        font-family: 'Poppins', sans-serif;
        text-align: center;
        font-size: 20px; 
        line-height: 1.9;
    }
    .gif1 img {
        max-width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
    }
    .container-from a {
        font-size: 20px; 
        text-decoration: none;
        color: #000000;
        font-family: "Poppins", sans-serif;
        font-weight: 700;
        margin-top: 10px; 
        margin-bottom: 16px; 
    }
    .container-from a i {
        font-size: 40px;
        text-align: center;
        color: #e8c39e;
        margin-bottom: 0px;
    }
    .container-from form .campo,
    .container-from form textarea {
        width: 100%;
        text-align: center;
        padding: 20px 20px; /* Aumenta el padding para hacer los campos más grandes */
        font-size: 20px;
        border: 1px solid #e8c39e;
        margin-bottom: 20px;
        border-radius: 3px;
        outline: 0px;
    }
    .container-from form textarea {
        text-align: center;
        min-width: 100%; /* Asegura que el textarea ocupe todo el ancho disponible */
        min-height: 200px; /* Aumenta la altura mínima del textarea */
        max-height: 250px; /* Aumenta la altura máxima del textarea */
    }
    .container-from .btn-enviar {  
        padding: 10px;
        font-size: 15px; /* Reduce el tamaño del botón */
        border: none;
        outline: 0px;
        background: #e8c39e;
        color: rgb(255, 255, 255);
        font-family: "Poppins", sans-serif;
        border-radius: 3px;
        cursor: pointer;
        transition: all 300ms ease;
        margin-top: 15px; 
        margin-left: 100px;
        margin-right: 10px;
    }
/*---------------------------------------------------------------------------------------------------------------------------------------------------------------------*/
    footer {
        font-family: 'Poppins', sans-serif;
        height: 80px; /* Ajusta la altura según tus necesidades */
        background-color: #e8c39e;
        text-align: center;
        font-size: 20px;
    }
    .redes {
        text-align: center;
        margin: 10px;
        height: 20px;
        font-size: 20px;
        text-decoration: none;
    }
    .redes i {
        letter-spacing: 15px;
        color: black;
        text-align: none;
        text-decoration: none;
    }
    .redes a {
        text-decoration: none;
    }
}

@media (min-width: 391px) or (min-height: 845px) {
    .d-lg-none {
        display: none;
    }

    .d-lg-block {
        display: block;
    }
}