h2 {
    margin: 20px auto;
    margin-top: 20px;
    width: fit-content;
    background-color: #e8c39e;
    font-size: 30px;
    font-weight: 800;
    color: #ffffff;
    line-height: 34px;
    padding-top: 17px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 30px;
}
.subtitulo1 {
    width: 25%;
    text-align: center;
    margin: 0 auto;
    margin-top: 19px;
    margin-bottom: 27px;
    padding-top: 3px;
    letter-spacing: 0;
    font-size: 20px;
    line-height: 20px;
    font-weight: 800;
    color: #afafaf;
}
.imagen-con-botones {
    position: relative;
    display: inline-block;
    text-align: left;/* Centra el contenido horizontalmente */
}
.imagen-con-botones img {
    width: 1500px;
    height: 650px;
}
.boton-sobre-imagen {
    position: absolute;
    bottom: 83px;/* Ajusta la posición vertical del botón */
    left: 185px;/* Centra el botón horizontalmente en relación con el contenedor */
    transform: translateX(-50%);/* Centra el botón horizontalmente */
    background-color: #ffffff;/* Color de fondo del botón */
    color: #e8c39eff;/* Color del texto del botón */
    border: none;
    font-family: 'Poppins', sans-serif;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: 900;
    font-size: 30px;
}
.foto2 {/* Estilos para cada foto */
    position: relative;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 420px;
}
.foto2 img {/* Estilos para las imágenes */
    width: 400px;
    height: auto;
    
}
.foto2:hover {
    transform: scale(1.05);
}
.productonombre {/* Estilos para los títulos de las fotos */
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 20px;
    }
