.sobremi1 {
    display: flex;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 30px;
    padding: 3px 10px;
    border: rgba(148, 111, 111, 0.815) 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.sobremi2 {
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    color: #000000;
    font-size: 25px;
    text-align: center;
    padding-bottom: 15px;
    margin-bottom: 15px;
    line-height: 30px;
    padding: 3px 10px;
    border: rgba(148, 111, 111, 0.815) 5px double;
    border-top-left-radius: 20px;
    border-bottom-right-radius: 20px;
}
.img-fluid {
    max-width: 80%;
    border-radius: 5px;
    padding-right: 5px;
    padding-left: 0px;
}