/* Estilos para la galería */
.galeria {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 70px;
}
/* Estilos para cada foto */
.foto {
    position: relative;
    margin: 10px;
    overflow: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
    max-width: 420px;
}
.foto img {
    width: 100%;
    height: auto;
}
.foto:hover {
    transform: scale(1.05);
}
/* Estilos para el título de cada foto */
.titulo {
    font-family: 'Poppins', sans-serif;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.288);
    color: white;
    padding: 5px;
    text-align: center;
    font-size: 20px;
}